<div class="create-org">
    <div class="row">
        <div class="col-md-12">
            <h1>New Report</h1>
            <hr/>
            <form>
                <div class="col-md-12">
                    <div class="col-md-5">
                        <label for="reportName"> Name:</label>
                        <span style="color:red" *ngIf=" (reportName.dirty || reportName.touched) && reportName.errors?.required">required</span>
                        <span style="color:red" *ngIf="(reportName.dirty || reportName.touched) && reportName.errors?.maxlength">Max 32 chars.</span>
                        <input type="text" #reportName="ngModel" class="form-control" [(ngModel)]="obj.name" placeholder="Enter organization Name"
                            maxlength="32" name="reportName" required>
                    </div>
                    <div class="col-md-5">
                        <!-- <div class="select-label">
                                <p>
                                    <strong>Quarter of the year:</strong>
                                </p>
                            </div> -->
                        <label> Quarter of the year:</label>
                        <div class="select-div">
                            <select placeholder="Select Quarter" class="btn-group bootstrap-select form-control" #selectQuarter="ngModel" name="selectQuarter" [(ngModel)]="selectQuarter1" required>
                                <option *ngFor="let item of listofQuarter" [ngValue]="item">
                                    {{item}}
                                </option>
                            </select>
                            <i class="bar"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div style="margin:10px !important">
                        <div>
                            <span *ngFor="let row of checkboxList" class="quaterly-span">
                                <label class="checkbox-inline  nowrap">
                                    <input (click)="selectedList(row.id,row.isActive)" type="checkbox" name="first" [(ngModel)]="row.isActive" />{{row.name}}</label>
                            </span>
                        </div>
                    </div>
                </div>


                <!-- Empty Row -->
                <div class="col-md-12">
                    <div class="col-md-6">
                        <p></p>

                    </div>
                </div>
                <!-- end: Empty Row -->

                <div class="col-md-12">
                    <div class="col-md-6">
                        <button type="button" [disabled]="!(reportName.valid && selectQuarter.valid)" class="btn btn-success" (click)="createReportAction(obj,selectQuarter1)">Create Organization</button>
                        <button type="button" class="btn btn-danger pull-right" (click)="onCancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>