/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: Base SCSS will be provided here
*/

* {
    margin:0;
    padding: 0;
}

body {
    font-size: 40px;
}


@media(max-width:300px) {
    body {
        font-size: 12px;
    }   
}