<div class="adoption-view">  
  <!-- <hr> -->
  <phd-bread-crumb [visible]="isBreadCrumbVisible">
    <ul>
      <li class="selected">Asset Mapping</li>
      <li>RoadMap Status</li>
      <li>RoadMap Timing</li>
      <li>Asset Quality</li>
    </ul>
  </phd-bread-crumb>
  <ag-grid-angular [ngStyle]="configAgGridStyle()" class="ag-theme-fresh"
  [rowData]="rowData"
                 [columnDefs]="columnDefs">
                </ag-grid-angular>
                <div class="button-section">
                  <button class="btn-material"><span>Save Report</span></button> 
    <button class="btn-material"><span>Submit &amp; Close Report</span></button>
  </div>
</div>
  <phd-loader content="Loading Adoption Entry" [visible]="isVisible"></phd-loader>  