@import './../../../../styles.scss';

.adoption-entry {
    margin: 0;

    .tab-content{
        background-color: $color-white; 
        height: 80vh;
        padding-top:5px;        
    }
    .nav-tabs {
        .nav-item{
            cursor: pointer;
            .active {
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                color: $button-blue;
                font-weight: bold;
            }
            a.nav-link{
                &:hover {                    
                    &:not(.active){
                        border-top-right-radius: 10px;
                        border-top-left-radius: 10px;
                        background-color: rgba($color-white,0.5);
                    }                    
                }
            }
        }
    }
    h1 {
        margin: 0 15px;
        color: $dark-blue-start;
    }
    ag-grid-angular {        
        margin: 10px 0;
        font-family: "Centrale-Sans", sans-serif;        
    }
    .button-section {
        display: flex;        
        button {
            margin: 0 5px;
            font-family: "Centrale-Sans", sans-serif;        
            padding: 10px 25px;
            font-size: 0.9rem;
            &:first-child {
                color: $color-green-dark;
            }
        }
    }
}//end:adoption-entry
h3.errorBlock {
    margin: 0 15px; 
    color: red;
}
