

<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div>
                    <label for="">{{pageTitle}}</label>
            <!-- <div ba-panel ba-panel-title="{{patientDetailTitle}}" ba-panel-class="with-scroll"> -->
                <!-- <hiat-loader loader-status="loadingBar" message="Please wait..."></hiat-loader> -->
                <form id="patientDetailForm" name="patientDetailForm">
                    <div class="row">

                        <!-- <div class="col-md-12">
                            <div class="col-md-6">
                                <label for="cluster">Organization type: </label>
                                <ui-select on-select="toggleBgInput(organizationType)" ng-model="organizationType" class="btn-group bootstrap-select form-control"
                                    append-to-body="true" search-enabled="true">
                                    <ui-select-match placeholder="Select OrganizationType">
                                        <span>{{$select.selected.name}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="organization in organizationTypeList | filter: $select.search">
                                        <span ng-bind-html="organization.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div> -->
                        <!-- Empty Row -->
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <p></p>
                                <p></p>
                            </div>
                        </div>
                        <!-- end: Empty Row -->
                        <!-- <div ng-show="isBgShown" class="col-md-12">
                            <div class="col-md-6">
                                <label for="cluster">{{nextTitle}} </label>
                                <ui-select on-select="toggleBgInput1(organizationTypeSecond)" ng-model="organizationTypeSecond" class="btn-group bootstrap-select form-control"
                                    append-to-body="true" search-enabled="true">
                                    <ui-select-match placeholder="Select ">
                                        <span>{{$select.selected.name}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="organization in organizationListDataNext | filter: $select.search">
                                        <span ng-bind-html="organization.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div> -->

                        <!-- Empty Row -->
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <p></p>
                                <p></p>
                            </div>
                        </div>
                        <!-- end: Empty Row -->

                        <div >
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label for="organizationCode">{{ OrganizationType }} Code:</label>
                                    <span style="color:red" *ngIf=" (organizationCode.dirty || organizationCode.touched) && organizationCode.errors?.required">required</span>
                                    <span style="color:red" *ngIf="(organizationCode.dirty || organizationCode.touched) && organizationCode.errors?.maxlength">Max 16 chars.</span>
                                    <input type="text" #organizationCode="ngModel" class="form-control" [ngModel]="organizationObj.code" placeholder="Enter organization code"
                                        maxlength="16" name="organizationCode" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="organizationName">{{ OrganizationType }} Name:</label>
                                    <span style="color:red" *ngIf=" (organizationName.dirty || organizationName.touched) && organizationName.errors?.required">required</span>
                                    <span style="color:red" *ngIf="(organizationName.dirty || organizationName.touched) && organizationName.errors?.maxlength">Max 32 chars.</span>
                                    <input type="text" #organizationName="ngModel" class="form-control" [ngModel]="organizationObj.name" placeholder="Enter organization Name" 
                                        maxlength="32" name="organizationName" required>
                                </div>
                            </div>
                            <!-- Empty Row -->
                            <div class="row col-md-12">
                                <div class="col-md-6">
                                    <p></p>
                                    <p></p>
                                </div>
                            </div>
                            <!-- end: Empty Row -->
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label for="organizationHierarchy">{{ OrganizationType }} Order:</label>
                                    <span style="color:red" *ngIf=" (organizationHierarchy.dirty || organizationHierarchy.touched) && organizationHierarchy.errors?.required">required</span>
                                    <!-- <span style="color:red" *ngIf="(organizationHierarchy.dirty || organizationHierarchy.touched) && organizationHierarchy.errors?.pattern">>Only two digits and only five decimal point required</span> -->
                                    <input type="number" class="form-control" #organizationHierarchy="ngModel" [ngModel]="organizationObj.hierarchy" placeholder="Enter Platform Order"
                                        step="0.1" name="organizationHierarchy" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="organizationDescription">Description:</label>
                                    <span style="color:red" *ngIf="(organizationDescription.dirty || organizationDescription.touched) && organizationDescription.errors?.maxlength">Max 256 chars.</span>
                                    <input type="text" class="form-control" #organizationDescription="ngModel" [ngModel]="description" placeholder="Enter a Description"
                                         maxlength="256" name="organizationDescription">
                                </div>
                            </div>


                            <!-- Empty Row -->
                            <div class="row col-md-12">
                                <div class="col-md-6">
                                    <p></p>
                                    <p></p>
                                </div>
                            </div>
                            <!-- end: Empty Row -->

                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label class="checkbox-inline  nowrap">
                                            <input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model="checkboxModel.value">
                                            <span>Active</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Empty Row -->
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <p></p>
                                <p></p>
                            </div>
                        </div>
                        <!-- end: Empty Row -->
                    </div>
                    <button type="button" [disabled]="!(organizationName.valid && organizationCode.valid && organizationDescription.valid && organizationHierarchy.valid )"
                    class="btn btn-success" (click)="createPlatformAction(organizationDescription.value)">Create Organization</button>
                    <!-- <button type="button" ng-disabled="!(patientDetailForm.organizationCode.$valid && patientDetailForm.organizationName.$valid && patientDetailForm.organizationHierarchy.$valid && patientDetailForm.organizationDescription.$valid)"
                        class="btn btn-success" ng-click="createOrganizationAction(patientDetail,checkboxModel.value)">Create Organization</button> -->
                    <button type="button" class="btn btn-danger pull-right" ng-click="onCancel()">Cancel</button>
                </form>
            </div>
        </div>
    </div>

</div>