<div class="manage-org-list">
    <form class="select-oraganization-type">
        <div class="form-group">
            <div class="select-label">
            <p><strong>Organization Type:</strong></p>
            </div>
            <div class="select-div">
            <select name="selectOrg" [(ngModel)]="selectOrg" (change)="selectOrganizationType(selectOrg)">
                <option *ngFor="let item of organizationTypeListData " [ngValue]="item">
                    {{item.name}}
                </option>
            </select>
            <i class="bar"></i>
            </div>
        </div>    
    </form>
    <div>
        <ng2-smart-table [source]="organizationListData" [settings]="settings" (deleteConfirm)="onDeleteConfirm($event)"
            (editConfirm)="onSaveConfirm($event)"
        ></ng2-smart-table> 
    </div>
</div>