<div class="create-org">
    <div class="row">
        <div class="col-md-12">
            <!-- <h1>New Organization</h1> -->
            <!-- <hr/> -->
            <form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="">
                                <div class="select-label">
                                    <p>
                                        <strong>Organization Type:</strong>
                                    </p>
                                </div>
                                <div class="select-div">
                                    <select class="btn-group bootstrap-select form-control" name="selectOrg" [(ngModel)]="selectOrg" (change)="selectOrganizationType(selectOrg)">
                                        <option *ngFor="let item of organizationTypeListData " [ngValue]="item">
                                            {{item.name}}
                                        </option>
                                    </select>
                                    <i class="bar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Empty Row -->
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <p></p>

                        </div>
                    </div>
                    <!-- end: Empty Row -->

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div *ngIf="isVisibleParentSelectBox" class="form-">
                                <div class="select-label">
                                    <p>
                                        <strong>{{parentName}} : </strong>
                                    </p>
                                </div>
                                <div class="select-div">
                                    <select class="btn-group bootstrap-select form-control" name="selectParent" [(ngModel)]="selectParent" (change)="selectParentType(selectParent)">
                                        <option *ngFor="let item of parentTypeListData " [ngValue]="item">
                                            {{item.name}}
                                        </option>
                                    </select>
                                    <i class="bar"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Empty Row -->
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <p></p>

                        </div>
                    </div>
                    <!-- end: Empty Row -->


                    <div class="col-md-12">
                        <div class="col-md-5">
                            <label for="organizationCode">Code:</label>
                            <span style="color:red" *ngIf=" (organizationCode.dirty || organizationCode.touched) && organizationCode.errors?.required">required</span>
                            <span style="color:red" *ngIf="(organizationCode.dirty || organizationCode.touched) && organizationCode.errors?.maxlength">Max 16 chars.</span>
                            <input type="text" #organizationCode="ngModel" class="form-control" [(ngModel)]="orgObj.code" placeholder="Enter organization code"
                                maxlength="16" name="organizationCode" required>
                        </div>
                        <div class="col-md-5">
                            <label for="organizationName"> Name:</label>
                            <span style="color:red" *ngIf=" (organizationName.dirty || organizationName.touched) && organizationName.errors?.required">required</span>
                            <span style="color:red" *ngIf="(organizationName.dirty || organizationName.touched) && organizationName.errors?.maxlength">Max 32 chars.</span>
                            <input type="text" #organizationName="ngModel" class="form-control" [(ngModel)]="orgObj.name" placeholder="Enter organization Name"
                                maxlength="32" name="organizationName" required>

                        </div>
                    </div>
                    <!-- Empty Row -->
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <p></p>

                        </div>
                    </div>
                    <!-- end: Empty Row -->
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <label for="organizationHierarchy">Order:</label>
                            <span style="color:red" *ngIf=" (organizationHierarchy.dirty || organizationHierarchy.touched) && organizationHierarchy.errors?.required">required</span>
                            <!-- <span style="color:red" *ngIf="(organizationHierarchy.dirty || organizationHierarchy.touched) && organizationHierarchy.errors?.pattern">>Only two digits and only five decimal point required</span> -->
                            <input type="number" class="form-control" #organizationHierarchy="ngModel" [(ngModel)]="orgObj.hierarchy" placeholder="Enter Platform Order"
                                step="0.1" name="organizationHierarchy" required>
                        </div>
                        <div class="col-md-5">
                            <label for="organizationDescription">Description:</label>
                            <span style="color:red" *ngIf="(organizationDescription.dirty || organizationDescription.touched) && organizationDescription.errors?.maxlength">Max 256 chars.</span>
                            <input type="text" class="form-control" #organizationDescription="ngModel" [(ngModel)]="orgObj.description" placeholder="Enter a Description"
                                maxlength="256" name="organizationDescription">
                        </div>
                    </div>

                    <!-- Empty Row -->
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <p></p>

                        </div>
                    </div>
                    <!-- end: Empty Row -->



                    <!-- <div class="row form-group"> -->
                    <button type="button" [disabled]="!(organizationName.valid && organizationCode.valid && organizationDescription.valid && organizationHierarchy.valid )"
                        class="btn btn-success" (click)="createOrgAction(orgObj)">Create Organization</button>
                    <button type="button" class="btn btn-danger float-right" (click)="onCancel()">Cancel</button>
                    <!-- </div> -->
                </div>

            </form>
            <!-- <phd-toggle-switch></phd-toggle-switch> -->
        </div>
    </div>
</div>