<div class="adoption-view">
  <h1>Adoption View</h1>
  <hr>
  <form class="select-quarter-form">
    <div class="form-group">
      <div class="select-label">
        <p><strong>Select Quarter:</strong></p>
      </div>
      <div class="select-div" *ngIf="selectedReport"> 
          <select  [(ngModel)]="selectedReport"   (ngModelChange)="selectedReportView()" name="Select report">
              <option  *ngFor="let report of allReportArray" [ngValue]="report">
                 {{report.name}}
              </option>
            </select>
        <i class="bar"></i>
      </div>
    </div>    
  </form>
  <div *ngIf="agGridData">
    <ag-grid-angular [ngStyle]="configAgGridStyle()" class="ag-theme-fresh"
      [rowData]="agGridData.rowData"
      [columnDefs]="agGridData.columnDefs"
      [groupHeaderHeight]="agGridData.groupHeaderHeight"
      [frameworkComponents]="frameworkComponents"
      [headerHeight] = "150"
      [enableFilter] ="true" >
      </ag-grid-angular>
  <div class="button-section">
    <button class="btn-material" (click)="downloadReport()"><span>Download Report</span></button>     
  </div>
</div>
<phd-loader content="Loading Adoption View" [visible]="isVisible"></phd-loader>  