<div class="adoption-view">
  <form class="select-quarter-form">
    <div class="form-group">
      <div class="select-label">
        <p><strong>Select Quarter:</strong></p>
      </div>
      <div class="select-div" *ngIf="selectedReport"> 
          <select  [(ngModel)]="selectedReport"   (change)="selectedReportView($event)" name="Select report">
              <option  *ngFor="let report of allReportArray" [ngValue]="report">
                 {{report.name}}
              </option>
            </select>
        <i class="bar"></i>
      </div>
    </div>    
  </form>
  <div *ngIf="displayData">
      <ul class="nav nav-tabs">
          <li class="nav-item"  *ngFor="let unit of unitTypesDisplay" >
            <a class="nav-link" [class.active]="unit.id === selectedUnitTypeID" (click)="setDisplayAdoptionByUnit(unit)" data-toggle="list">{{unit.name}}</a>
          </li>
      </ul>
    <div class="tab-content">
    <ag-grid-angular [ngStyle]="configAgGridStyle()" class="ag-theme-fresh"
      [rowData]="agGridData.rowData"
      [columnDefs]="agGridData.columnDefs"
      [groupHeaderHeight]="agGridData.groupHeaderHeight"
      [frameworkComponents]="frameworkComponents"
      [headerHeight] = "150"
      [suppressMovableColumns] = "true" >
      
      </ag-grid-angular>
  <div class="button-section">
    <button class="btn btn-success" (click)="downloadReport()"><span>Download Report</span></button>     
  </div>
</div>
</div>
<phd-loader content="Loading Adoption View" [visible]="isVisible"></phd-loader>
<phd-pop-up-error [visible]="isPopupErrorVisible" title="{{errorModel.title}}" content="{{errorModel.content}}" (closePopup)="onPopupErrorClose($event)" (cancelPopup)="onPopupErrorCancel($event)" button1="{{errorModel.button1}}" button2="{{errorModel.button2}}"></phd-pop-up-error>