input.agEditText {
    width: 50px;  
  }
.locked{
    border: 2px rgb(23, 24, 23);
}
.ag-theme-fresh .ag-cell{
    padding: 0px;
}

.s-hidden {
    visibility:hidden;
    padding-right:10px;
}
.select {
    cursor:pointer;
    display:inline-block;
    position:relative;
    font:normal 11px/22px Arial, Sans-Serif;
    color:black;
    border:1px solid #ccc;
}
.boldSpan{
    font-weight: 900; 
    font-size: 16px;
    text-decoration: underline
}
