<phd-pop-up-alert [visible]="isPopupAlertVisible" title="{{alertModel.title}}" content="{{alertModel.content}}"  (cancelAlertPopup)="onPopupAlertCancel($event)" ></phd-pop-up-alert>
<phd-loader content="Content loading..." [visible]="isVisibleLoader"></phd-loader>
<div class="create-platform">
        <div class="row">
            <div class="col-md-12">
                <!-- <hr/> -->
                <form id="patientDetailForm" name="patientDetailForm">
                    <div class="row">
                        <!-- Empty Row -->
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <p></p>
    
                            </div>
                        </div>
                        <!-- end: Empty Row -->
    
                        <!-- Empty Row -->
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <p></p>
    
                            </div>
                        </div>
                        <!-- end: Empty Row -->
    
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label for="platformCode">Platform Code:</label>
                                <span style="color:red" *ngIf=" (platformCode.dirty || platformCode.touched) && platformCode.errors?.required">required</span>
                                <span style="color:red" *ngIf="(platformCode.dirty || platformCode.touched) && platformCode.errors?.maxlength">Max 64 chars.</span>
                                <input type="text" #platformCode="ngModel" class="form-control" [(ngModel)]="platformObj.code" placeholder="Enter Platform code"
                                    maxlength="64" name="platformCode" required>
                            </div>
                            <div class="col-md-6">
                                <label for="platformName">Platform Name:</label>
                                <span style="color:red" *ngIf=" (platformName.dirty || platformName.touched) && platformName.errors?.required">required</span>
                                <span style="color:red" *ngIf="(platformName.dirty || platformName.touched) && platformName.errors?.maxlength">Max 32 chars.</span>
                                <input type="text" #platformName="ngModel" class="form-control" [(ngModel)]="platformObj.name" placeholder="Enter Platform Name"
                                    maxlength="32" name="platformName" required>
                            </div>
                        </div>
                        <!-- Empty Row -->
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <p></p>
                                <p></p>
                            </div>
                        </div>
                        <!-- end: Empty Row -->
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label for="platformHierarchy">Platform Order:</label>
                                <span style="color:red" *ngIf=" (platformHierarchy.dirty || platformHierarchy.touched) && platformHierarchy.errors?.required">required</span>
                                <span style="color:red" *ngIf="(platformHierarchy.dirty || platformHierarchy.touched) && platformHierarchy.errors?.pattern">Max two digit and Three decimal point allow</span>
                                <input [pattern]="patternCheckHierarchy" type="number" class="form-control" #platformHierarchy="ngModel" [(ngModel)]="platformObj.hierarchy" placeholder="Enter Platform Order"
                                    step="0.1" name="platformHierarchy" required>
                            </div>
                            <div class="col-md-6">
                                <label for="platformDescription">Description:</label>
                                <span style="color:red" *ngIf="(platformDescription.dirty || platformDescription.touched) && platformDescription.errors?.maxlength">Max 256 chars.</span>
                                <input type="text" class="form-control" #platformDescription="ngModel" [(ngModel)]="platformObj.description" placeholder="Enter a Description"
                                    maxlength="256" name="platformDescription">
                            </div>
                        </div>
    
                        <!-- Empty Row -->
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <p></p>
                                <p></p>
                            </div>
                        </div>
                        <!-- end: Empty Row -->
                        
                        <div class="col-md-12">
                                <div style="margin-top:10px" class="col-md-6">
                                        <label >Active:
                                        <input  type="checkbox" name="first" [(ngModel)]="platformObj.active" /></label>
                                    </div>
                        </div>
                        <!-- Empty Row -->
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <p></p>
                                <p></p>
                            </div>
                        </div>
                        <!-- end: Empty Row -->
                        <!-- Empty Row -->
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <p></p>
                                <p></p>
                            </div>
                        </div>
                        <!-- end: Empty Row -->
                        <!-- Empty Row -->
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <p></p>
                                <p></p>
                            </div>
                        </div>
                        <!-- end: Empty Row -->
                        <div class="col-md-12">
                            <button type="button" [disabled]="!(platformName.valid && platformCode.valid && platformDescription.valid && platformHierarchy.valid )"
                                class="btn btn-success" (click)="updatePlatformAction(platformObj)">Update Platform</button>
                            <button type="button" class="btn btn-danger float-right" (click)="onCancel()">Cancel</button>
                        </div>
                    </div>
                </form>
                <!-- <phd-toggle-switch></phd-toggle-switch> -->
            </div>
        </div>
    </div>
    <phd-pop-up-confirm [visible]="isPopupConfirmVisible" title="{{confirmModel.title}}" content="{{confirmModel.content}}" (confirmOkPopup)="onPopupConfirmOk($event)" (cancelPopup)="onPopupConfirmCancel($event)" ></phd-pop-up-confirm>